.round {
    border-radius: 5px;
    box-shadow: 0 0 0 0px rgb(0, 0, 0), 0 0 13px #333;
}

h1,
h2 {
    border-bottom: 1px solid #eee;
    margin-bottom: 3px;
    padding-bottom: 3px;
}

h2 img {
    width: 16px !important;
}

h2 {
    font-size: 17px !important;
}

p {
    margin-bottom: 2px !important;
    margin-top: 2px !important;
}


ul {
    margin-top: 2px !important;
    margin-bottom: 2px !important;
}

li p {
    margin-bottom: 0px !important;
}

li.md-list-item {
    line-height: 20px !important;
}

a {
    color: #555 !important;
}

body {
    font-family: "Open Sans", "Clear Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgb(51, 51, 51);
    line-height: 1.6;
}

a {
    color: #4183C4;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    position: relative;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: bold;
    line-height: 1.4;
    cursor: text;
}


h1 {
    padding-bottom: .3em;
    font-size: 2.25em;
    line-height: 1.2;
    border-bottom: 1px solid #eee;
}

h2 {
    padding-bottom: .3em;
    font-size: 1.75em;
    line-height: 1.225;
    border-bottom: 1px solid #eee;
}

h3 {
    font-size: 1.5em;
    line-height: 1.43;
}

h4 {
    font-size: 1.25em;
}

h5 {
    font-size: 1em;
}

h6 {
    font-size: 1em;
    color: #777;
}

p,
blockquote,
ul,
ol,
dl,
table {
    margin: 0.8em 0;
}

blockquote {
    border-left: 4px solid #dfe2e5;
    padding: 0 15px;
    color: #777777;
}

blockquote blockquote {
    padding-right: 0;
}
